<ng-container *ngIf="!hits ; else elseTemplate">
	<figure class="card__figure">
		<img class="card__figure__img" src="/assets/HackerNews.svg" alt="">	
	</figure>
</ng-container>
<ng-template #elseTemplate>
	<div class="card">
		<div class="card__container">
			<ng-container *ngFor="let hit of hits; let i=index">
				<div class="card__content" *ngIf="isOk(hit)">
					<div [id]="'card'+i" class="card__body">
						<p>{{hit.created_at | diff}} by {{hit.author}}</p>
						<a [href]="hit.story_url" target="_blank" rel="noopener noreferrer">
							<p>{{hit.story_title}}</p>
						</a>
					</div>
					<div class="col-2 card__fav" (click)="toggleFav(hit.fav, i)">
						<img [src]="hit.fav ? '/assets/iconmonstr-favorite-3.png' : '/assets/iconmonstr-favorite-2.png'">
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</ng-template>
