.card {
    margin: 30px 0px;
}

.card__figure {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card__content {
    display: flex;
    justify-content: center;
    min-height: 5.63rem;
    flex: 1 1 auto;
    width: 30rem;
}

.card__content:hover{
    opacity: 0.5;
}

.card__body {
    max-width: 30.12rem;
    background-color: #ffffff;
    width: 100%;
    padding: 3%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #f5f5f5;
}

.card__body a {
    text-decoration: none;
}

.card__body p {
    color: var(--text-color-secondary);
    font-size: 0.688rem;
    font-weight: 300;
}

.card__body a p {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--text-color);
}

.card__fav {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.25rem;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}

p {
    margin: 0.44rem;
}