.fixed {
    position: sticky;
    top: 0;
    font-size: 30px;
    color: white;
    background-color: #fcfcfc;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 0px;
}

.list__items {
    border: 1px solid #d6d6d6;
    color: var(--text-color);
    width: 6.125rem;
    height: 1.938rem;
    list-style: none;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 30px;
    cursor: pointer;
}

.list__items--active {
    border: 1px solid var(--azure);
    color: var(--azure);
    width: 6.125rem;
    height: 1.938rem;
    list-style: none;
    text-align: center;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 30px;
    cursor: pointer;
}