.select {
    width: var(--select-width);
    cursor: pointer;
}

.select__list {
    width: var(--select-width);
    background-color: #fff;
    padding-left: 0px;
    border: 1px solid #dad8d8;
    position: absolute;
}

.select__list__items {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}

.select__list__items:hover {
    background-color: #ececec;
}

.select__list__items img{
    width: 1.5rem;
    margin-right: 10px;
    
}

#selectField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

#selectField p {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.select__arrow {
    width: 20px;
}

.sticky {
    position: fixed;
    font-size: 13px;
    top: 15px;
}

@media screen and (max-width: 630px) {
    .sticky {
        top: 60px;
        width: 78% !important;
    }
    
    .sticky .select__list {
        width: 99% !important;
    }

    .select {
        width: 99%;
        padding: 30px 0px 16px 0px;
    }
    
    .select__list {
        width: 78%;
    }
}
