/* You can add global styles to this file, and also import other style files */
html body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

:root {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  --select-width: 9.34rem;
  --text-color: #6b6b6b;
  --border-nav: #d6d6d6;
  --text-color-secondary: #767676;
  --primary-color: #fcfcfc;
  --primary-color-text: #ffffff;
  --card-ligth: #ffffff;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --azure: #1797ff;
  --azure-text: #1797ff;
  --azure-active: #fcfcfc;
  --ligth-hr: #f0f1f2;
  --ligth-border: #f5f5f5;
  --boder-select: #dad8d8;
  --top-gradient:#ececec;
  --bottom-gradient: #ffffff;
  --brand-color: #000000;

  
  /* dark theme */
  
  --background-dark: #0d1117;
  --card-dark: #161b22;
  --border-dark: #30363d;
  --color-dark: #8b949e;
  --top-dark-gradient :#161b22;
  --bottom-dark-gradient: #2f2f30;
  --azure-dark: #1f6feb;
}
